.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79vh;
  background-color: #f8f9fa;
  padding: 20px 60px;
  padding-left: 120px;
  gap: 20px;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #0056b3;
}


.facebook {
  background-color: #1877f2;
}

.google {
  background-color: #db4437;
}

.apple {
  background-color: #333;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}


.login-image{
  border: 1px solid black;
}

.login-image img{
  width: 700px;
  height: 600px;
  object-fit: cover;
  object-position: -10px -150px;
}


@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
  }

  .login-box {
    width: 400px;
    margin-right: 40px;
  }

 /*  .login-image {
    display: block;
  }
 */
  /* .login-image img {
    max-width: 300px;
  } */
}
