<!--hero section-->

<section class="hero-section">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">About Us</h1>
      <p class="hero-description">Your trusted rental management platform</p>
      <a href="#" class="hero-btn">Contact us</a>
    </div>
  </div>
</section>

<!--mission-vision section-->

<section class="mission-vision">
  <div class="container">
    <div class="row">
      
      <!-- Mission -->
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-trophy"></i> 
          </div>
          <h4>Our Mission</h4>
          <p>
            Our mission is to provide a seamless rental experience, ensuring convenience and security for both landlords and tenants.
          </p>
        </div>
      </div>

      <!-- Vision -->
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-chart-line"></i> 
          </div>
          <h4>Our Vision</h4>
          <p>
            Our vision is to become the leading rental management platform, known for reliability, efficiency, and innovation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--who-we-are section-->

<section class="who-we-are">
  <div class="container">
    <div class="row">
      <div class="image-container">
        <img src="/assets/about-us.png" alt="Rentify Office">
      </div>
      <div class="content">
        <h2>We Provide You <br> The Best Experience</h2>
        <p>
          Rentify started in <strong>September 2024</strong> with a vision to revolutionize 
          the rental industry. Our mission is to provide an effortless, 
          secure, and innovative rental experience for both landlords and tenants.
        </p>
        <p>
          Whether you're listing properties or finding your dream home, 
          Rentify ensures smooth transactions, personalized assistance, 
          and the best rental opportunities.
        </p>
        <a href="#" class="btn">Explore More</a>
      </div>
    </div>
  </div>
</section>

<!--stats section-->

<section class="stats-section" #statsSection>
  <div class="container">
    <h2 class="stats-title">Our Stats</h2>
    <p class="stats-description">
      See the Numbers Behind Our Success Stories
    </p>

    <div class="stats-grid">
      <div class="stat-box" *ngFor="let stat of stats">
        <h3 class="counter">{{ stat.formattedValue }}</h3>
        <p>{{ stat.label }}</p>
      </div>
    </div>
  </div>
</section>

<!--service section-->

<section class="service-section">
  <div class="container">
    <h2>Our Services</h2>
    <p>fffahdfjdajdhlhfdfajdfhdklafhdkjffdlafhdjkfhjfdhfdflfsd</p>
  </div>
  <div class="cards">
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-brands fa-react"></i>
      <div class="content">
        <h3>Real-Time Tracking</h3>
        <p>
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
          jdfahdhakjdkflahdjlaahdajdfklhfdjfdalkd
        </p>
      </div>
    </div>
  </div>
</section>
