<div class="container">
  <div class="heading-set">
    <div class="heading-text">
      Unique <span>Store</span> for your renting business.
    </div>
    <div class="heading-subtext">
      Rentify simplifies renting with smart automation, secure payments, and a user friendly experience.
    </div>
    <div class="cta-btn">
      Register
    </div>
    <div class="dev-message">
      *Site is still under development stage. Follow us to stay updated.
    </div>
  </div>
  <div class="reason">
    <div class="reason-sub-heading">
      <i class="fa-solid fa-star star-icon"></i> why choose us
    </div>
    <div class="reason-heading">
      WHY CHOOSE US?
    </div>
    <div class="reason-description">
      Our goal is to transform your journey in Sri Lanka. Whether you're captivated by the peaceful beaches, mountainous
      regions, or profound cultural backdrop, we craft customized travel plans that echo your inclinations and desires.
    </div>
  </div>

  <!-- Features -->
  <div class="features">
    <div class="feature">
      <div class="feature-icon">
        <i class="fa-sharp fa-solid fa-retweet rent-icon"></i>
      </div>
      <div class="feature-name">
        Seamless Rental Management
      </div>
      <div class="feature-description">
        Effortlessly list, manage, and track rentals with our intuitive dashboard. Rentify simplifies the rental
        process, ensuring a smooth experience for both owners and renters.
      </div>
    </div>
    <div class="feature-line"></div>
    <div class="feature">
      <div class="feature-icon">
        <i class="fa-solid fa-file-shield security-icon"></i>
      </div>
      <div class="feature-name">
        Secure Online Payments
      </div>
      <div class="feature-description">
        Integrated with Stripe for fast, reliable, and secure transactions. Renters can make hassle-free payments, and
        owners receive instant notifications for every booking.
      </div>
    </div>
    <div class="feature-line"></div>
    <div class="feature">
      <div class="feature-icon">
        <i class="fa-solid fa-calendar-week time-icon"></i>
      </div>
      <div class="feature-name">
        Real-Time Availability Tracking
      </div>
      <div class="feature-description">
        Stay updated with real-time rental availability. Our system automatically tracks bookings, rental periods, and
        returns, preventing double bookings and ensuring seamless operations.
      </div>
    </div>
  </div>
  <!-- Key Features -->
  <div class="key-features">
    <div class="key-feature-sub-heading">
      <i class="fa-solid fa-star start-icon"></i> key features
    </div>
    <div class="key-feature-heading">
      KEY FEATURES
    </div>
    <div class="key-feature-description">
      <p>Rentify is designed to simplify the rental process, ensuring a seamless experience for both owners and renters.
      Our platform is equipped with a range of features that streamline rental management, secure transactions, and
      enhance user experience.</p>
    </div>
    <div class="key-feature-cards">
      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-sharp fa-solid fa-retweet rent-icon"></i>
        </div>
        <div class="key-feature-name">
          Seamless Rental Management
        </div>
        <div class="key-feature-description">
          Effortlessly list, manage, and track rentals with our intuitive dashboard. Rentify simplifies the rental
          process, ensuring a smooth experience for both owners and renters.
        </div>
      </div>

      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-solid fa-calendar time-icon"></i>
        </div>
        <div class="key-feature-name">
          Real-Time Availability Tracking
        </div>
        <div class="key-feature-description">
          Stay updated with real-time rental availability. Our system automatically tracks bookings, rental periods, and
          returns, preventing double bookings and ensuring seamless operations.
        </div>
      </div>

      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-solid fa-unlock-keyhole security-icon"></i>
        </div>
        <div class="key-feature-name">
          Instant Booking & Secure Payments
        </div>
        <div class="key-feature-description">
          Powered by Stripe, Rentify enables fast and secure transactions, ensuring a seamless booking experience for
          renters and owners.
        </div>
      </div>

      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-solid fa-wand-sparkles automate-icon"></i>
        </div>
        <div class="key-feature-name">
          Automated Rental Timers
        </div>
        <div class="key-feature-description">
          Track rental durations with automated countdowns, notifying owners when a rental period ends to keep
          everything on schedule.
        </div>
      </div>

      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-solid fa-address-card"></i>
        </div>
        <div class="key-feature-name">
          Customizable Business Profiles
        </div>
        <div class="key-feature-description">
          Create and personalize your rental business profile with branding, contact details, and rental policies
          tailored to your needs.
        </div>
      </div>

      <div class="key-feature-card">
        <div class="key-feature-icon">
          <i class="fa-solid fa-gauge-high dashboard-icon"></i>
        </div>
        <div class="key-feature-name">
          User-Friendly Dashboard
        </div>
        <div class="key-feature-description">
          Get a complete overview of your rentals, bookings, and payments all in one place with an easy-to-navigate
          interface.
        </div>
      </div>
    </div>
    <!-- Our Team -->
    <div class="team" id="team">
      <div class="team-sub-heading">
        <i class="fa-solid fa-star start-icon"></i> our team
      </div>
      <div class="team-heading">
        OUR TEAM
      </div>
      <div class="team-description">
        Meet the passionate individuals behind Rentify. Our team is dedicated to providing you with
      </div>
      <div class="team-members">
        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/master.jpeg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Aashif Sajah
          </div>
          <div class="team-member-role">
            Full Stack Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="https://www.instagram.com/cliff.adventurer_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/aashif-sajah" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/aashif-sajah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/zanithu.jpg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Sanithu Muthukumarana
          </div>
          <div class="team-member-role">
            Full Stack Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/Zanithu" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="www.linkedin.com/in/sanithu-muthukumarana" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/master.jpeg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Ruzaiq Fahim
          </div>
          <div class="team-member-role">
            Front-End Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="https://www.instagram.com/ruzaiqfahim/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/ruzaiqf" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/aashif-sajah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/master.jpeg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Aashif Sajah
          </div>
          <div class="team-member-role">
            Full Stack Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="https://www.instagram.com/cliff.adventurer_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/aashif-sajah" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/aashif-sajah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/master.jpeg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Aashif Sajah
          </div>
          <div class="team-member-role">
            Full Stack Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="https://www.instagram.com/cliff.adventurer_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/aashif-sajah" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/aashif-sajah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="team-member">
          <div class="team-member-image">
            <img src="assets/Team Members/master.jpeg" alt="team-member-1">
          </div>
          <div class="team-member-name">
            Aashif Sajah
          </div>
          <div class="team-member-role">
            Full Stack Developer
          </div>
          <div class="team-member-social-overlay">
            <div class="team-member-social">
              <a href="https://www.instagram.com/cliff.adventurer_/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://github.com/aashif-sajah" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/aashif-sajah/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact US -->
   <div class="contact">
    <div class="contact-heading">
      Contact Us!
    </div>
    <div class="contact-description">
      Fill the bellow form and send us your enquiry. We will get back to you as soon as possible.
    </div>
    <div class="contact-form">
      <div class="contact-form-group">
        <input type="text" placeholder="Name">
      </div>
      <div class="contact-form-group">
        <input type="email" placeholder="Email">
      </div>
      <div class="contact-form-group">
        <input type="text" placeholder="Subject">
      </div>
      <div class="contact-form-group">
        <textarea placeholder="Message"></textarea>
      </div>
      <div class="contact-form-group">
        <button>Send</button>
      </div>
    </div>
   </div>
</div>
