.form-wrapper {
  display: flex;
  border: 1px solid black;
  padding: 20px;
  font-family: 'inter', sans-serif;
}


.form-wrap{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 380px;
}


.form-wrap h2{
  color:#007bff;
  font-weight: 600;
  margin-bottom: 30px;
}

label{
  display: block;
  font-size: large;
  margin-bottom: 5px;
}