<div class="container">
  <h2>Create Your Business</h2>


  @if(step === 0){
  <form #form="ngForm"> 
    <label for="businessName">Business Name:</label>
    <input type="text" [(ngModel)]="businessData.businessName" name="businessName" id="businessName" required />

    <label for="description">Description:</label>
    <textarea [(ngModel)]="businessData.description" name="description" id="description" required>
        </textarea>

    <label for="contactEmail">Contact Email:</label>
    <input type="email" [(ngModel)]="businessData.contactEmail" name="contactEmail" id="contactEmail" required />

    <label for="phone">Phone:</label>
    <input type="text" [(ngModel)]="businessData.phone" name="phone" required id="phone" />

    <label for="address">Address:</label>
    <input type="text" [(ngModel)]="businessData.address" name="address" required id="address" />

    <button type="button" (click)="nextStep()" [disabled]="form.invalid">Next →</button>
  </form>
  }


  @if(step === 1){
  <form #form2="ngForm">
    <label for="businessType">Select Business Type:</label>
    <select [(ngModel)]="businessData.businessType" name="businessType" id="businessType" required>
      <option value="Car Rental">Car Rental</option>
      <option value="Room Rental">Room Rental</option>
      <option value="Bicycle Rental">Bicycle Rental</option>
      <option value="Camping Equipment">Camping Equipment</option>
    </select>

    <button type="button" (click)="prevStep()">← Back</button>
    <button type="button" (click)="nextStep()" [disabled]="form2.invalid">Next →</button>
  </form>
  }


  @if(step === 2){
  <form #form3="ngForm">
    <label for="fontStyle">Font Style:</label>
    <select [(ngModel)]="businessData.storeTheme.fontStyle" name="fontStyle" id="fontStyle" required>
      <option value="Arial">Arial</option>
      <option value="Times New Roman">Times New Roman</option>
      <option value="Roboto">Roboto</option>
    </select>

    <label for="primaryColor">Primary Color:</label>
    <input type="color" [(ngModel)]="businessData.storeTheme.primaryColor" name="primaryColor" id="primaryColor"
      required />

     <!-- Logo Upload -->
  <label for="logo">Upload Logo:</label>
  <input type="file" id="logo" (change)="handleFileInput($event)" required />

    <button type="button" (click)="prevStep()">← Back</button>
    <button type="button" (click)="submitForm()">Submit</button>
  </form>
  }

  @if(loading){
  <p>Submitting...</p>
  }
  @if(errorMessage){
  <p>{{ errorMessage }}</p>
  }
</div>
